<% content_for :sidebar do %>
  <%= render :partial => 'environments/sidebar', :locals => {:environments => @treeview_root} %>
<% end %>

<% content_for :menu do %>
  <%= render :partial => 'environments/menu' %>
<% end %>

<h1>Editing Environment</h1>
<%= render 'form' %>

<p>
  <%= link_to 'Delete environment', @environment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button danger' %>
</p>
