// Buttons
// -----------------------------------------------------------------------------

$button_bg: #00a1df;

.button {
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  padding: 0 10px;
  color: white;
  background: $button_bg;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
  transition: all 0.2s;
  &:hover {
    background: lighten($button_bg, 5%);
    color: white;
  }
  &:active {
    top: 1px;
    background: darken($button_bg, 5%);
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
