@import url(https://fonts.googleapis.com/css?family=Roboto);;

$purple: #5B458C;
$purple_light: #665194;


$link_color: #79589f;
$link_color_hover: #60467e;

// Layout
// -----------------------------------------------------------------------------

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: $purple;
  background: linear-gradient(to bottom, #664a86, #534292);
  color: #333;
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_color_hover;
    text-decoration: underline;
  }
}
* {
  box-sizing: border-box;
}
#wrapper {
  height: 100%;
  width: 1200px;
  margin: auto;
}

header {
  background-color: white;
  padding: 8px 12px;
  border-bottom: 1px solid #e1e1e3;
  #session {
    text-align: right;
  }
}

#sidebar {
  color: #f0f0f0;
  float: left;
  width: 20%;
  height: 100%;

  ul {
    list-style-type: none;
    padding-left: 0;
    ul {
      padding-left: 1em;
    }
  }
  a {
    color: #f0f0f0;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      background-color: $purple_light;
    }
    &.current {
      background: white;
      color: $purple;
    }
  }
}

#main {
  background: #F7F7F8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-left: 20%;
  overflow-y: auto;
  h1 {
    text-shadow: 0 1px 0 white;
  }
  #content {
    margin: 10px;
    p.message {
      color: white;
      padding: 10px;
      border-radius: 4px;
      &.alert {
        background: #f66;
      }
      &.notice {
        background: #42b983;
      }
    }
  }
}

table.data-table {
  width: 100%;
  border-collapse: collapse;
  th {
    text-align: left;
    padding: 6px;
  }
  td {
    border-top: 1px solid #ccc;
    padding: 6px;
  }
}

// Notifications
// -----------------------------------------------------------------------------

div.ui-pnotify {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.menu {
  background: white;
  border-bottom: 1px solid #e1e1e3;
  text-align: center;
  a {
    padding: 10px 6px;
    margin: 0 6px;
    display: inline-block;
    color: #7D7D8E;
    border-bottom: 2px solid white;
    transition: all 0.2s;
    i.fa {
      margin-right: 4px;
    }
  }
  a:hover {
    text-decoration: none;
    border-bottom: 2px solid #7D7D8E;
  }
  a.active {
    color: $link_color;
    border-bottom: 2px solid $link_color;
  }
}
